.contain1 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.scroll-view1 {
  height: 932px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fdf9f0;
}

.row-view1 {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 43px;
  margin-left: 23px;
}

.row-view2 {
  display: flex;
  align-items: center;
  padding-right: 4px;
  margin-bottom: 42px;
  margin-left: 32px;
  gap: 32px;
}

.column1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.column2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 31px;
  margin-left: 22px;
  margin-right: 22px;
  box-shadow: 0px 0px 13px #9090901a;
}

.image1 {
  width: 28px;
  height: 28px;
  margin-right: 97px;
  object-fit: fill;
}

.image2 {
  width: 73px;
  height: 73px;
  object-fit: fill;
}

.box1 {
  height: 1px;
  align-self: stretch;
  background: #cecece4d;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-left: 15px;
  margin-right: 15px;
}

.input1 {
  color: #626262;
  font-size: 18px;
  margin-bottom: 287px;
  margin-left: 22px;
  margin-right: 22px;
  align-self: stretch;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 9px 46px 9px 23px;
  box-shadow: 0px 0px 13px #9090901a;
}

.button1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fada7a;
  border-radius: 30px;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 74px;
  margin-left: 22px;
  margin-right: 22px;
  box-shadow: 0px 0px 13px #9090901a;
  text-align: left;
}

.text1 {
  color: #b1c29e;
  font-size: 28px;
  font-weight: bold;
}

.text2 {
  color: #626262;
  font-size: 20px;
  font-weight: bold;
}

.text3 {
  color: #909090;
  font-size: 16px;
}

.text4 {
  color: #626262;
  font-size: 18px;
  margin-bottom: 8px;
  margin-left: 23px;
}

.text5 {
  color: #626262;
  font-size: 18px;
  margin-bottom: 4px;
  margin-left: 23px;
}

.text6 {
  color: #626262;
  font-size: 18px;
  margin-left: 23px;
}

.text7 {
  color: #626262;
  font-size: 18px;
}