/* .button {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FADA7A;
	border-radius: 31px;
	border: none;
	padding-top: 19px;
	padding-bottom: 19px;
	margin-bottom: 58px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: left;
}
.contain {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
}
.image {
	width: 28px;
	height: 28px;
	margin-right: 74px;
	object-fit: fill;
}
.input {
	color: #909090;
	font-size: 18px;
	margin-bottom: 11px;
	margin-left: 22px;
	margin-right: 22px;
	align-self: stretch;
	background: #FFFFFF;
	border-radius: 8px;
	border: none;
	padding: 21px 48px 21px 24px;
}
.input2 {
	color: #909090;
	font-size: 18px;
	margin-bottom: 542px;
	margin-left: 22px;
	margin-right: 22px;
	align-self: stretch;
	background: #FFFFFF;
	border-radius: 8px;
	border: none;
	padding: 21px 48px 21px 24px;
}
.row-view {
	display: flex;
	align-items: center;
	margin-top: 48px;
	margin-bottom: 45px;
	margin-left: 25px;
}
.scroll-view {
	height: 932px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #FDF9F0;
}
.text {
	color: #B1C29E;
	font-size: 28px;
	font-weight: bold;
}
.text2 {
	color: #626262;
	font-size: 20px;
} */