body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff; /* 흰색 전체 배경 */
  font-family: 'Pretendard-Regular', sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

a {
    display: block;
    text-decoration: none;
    color: #919191;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.phone-box {
    background-color: #FFF9EA; /* 연한 크림색 */
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    padding-top: 24px;
    padding-top: env(safe-area-inset-top, 24px);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.background2 {
    background: #fdf9f0;
}

.main_wrap {
    width: 100%;
    padding: 87px 16px 100px;
    box-sizing: border-box;
    position: relative;
    flex: 1;
}

button {
    color: #636363;
    height: 56px;
    cursor: pointer;
}

.fixed_wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.main_btn_wrap {
    max-width: 430px;
    width: 100%;
    margin-top: 16px;
    padding: 0 18px;
    box-sizing: border-box;
}

.main_btn {
  width: 100%;
  background-color: #FADA7A;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.inner_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #b1c29e;
    background: #f5f7f2;
    font-size: 16px;
    border: none;
    right: 10px;
    padding: 10px;
    width: 90px;
    border-radius: 22px;
    height: 40px;
}

input {
    color: #636363;
    font-size: 16px;
    padding: 16px;
    height: 54px;
}

input::placeholder {
    color: #919191;
}

input:focus-visible {
    outline: 1px solid #FADA7A;
    box-shadow: 0 0 13px 0 #91919110;
}

.input-group {
  margin-bottom: 0.7em;
}

.input-group2 {
  margin-bottom: 0.7em;
  position: relative;
}

.input-group label {
  display: none;
  font-size: 16px;
  color: #888;
  margin-bottom: 6px;
}

.input-group2 label {
  display: none;
  font-size: 16px;
  color: #888;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
}

.input-group2 input {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    padding-right: 100px;
}

.new_input {
    margin-top: 2.3em;
}

.new_input2 {
    margin-top: 1.3em;
}

.header {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.sub_header {
    position: fixed;
    z-index: 12;
    background: #fdf9f0;
    max-width: 430px;
}

.icon_wrap {
    width: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 17px;
}

.icon_wrap a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.header_icon {
    width: 100%;
}

.header_title {
    font-size: 24px;
    color: #b1c29e;
    font-family: 'Pretendard-Bold';
    margin: 0 auto;
}

.list_box {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
}

.list_box_title {
    color: #919191;
}

.ctt_box {
    background: #fff;
    border-radius: 8px;
    padding: 20px 23px;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.ctt_title {
    color: #636363;
    font-family: 'Pretendard-Medium';
}

.ctt_sub_title {
    color: #636363;
    font-family: 'Pretendard-Medium';
    font-size: 15px;
}

.ctt_wrap {
    margin-top: 1em;
}

.ctt_inner {
    color: #919191;
    font-size: 15px;
    padding-top: 0.5em;
    line-height: 1.3;
}

.ctt_inner ul {
    display: flex;
    padding-left: 5px;
}

.ctt_inner ul:nth-child(1) {
    padding-left: 0;
}

.ctt_inner li:nth-child(2) {
    padding-left: 5px;
}

@media screen and (max-width: 350px) {
    input {
        font-size: 15px;
    }
    
    button {
        height: 54px;
    }

    .main_btn {
        font-size: 17px;
    }

    .inner_btn {
        font-size: 15px;
    }

    .list_box {
        font-size: 15px;
    }

    .header_title {
        font-size: 23px;
    }

    .icon_wrap {
        width: 1.7em;
    }
}