@font-face {
  font-family: 'Pretendard-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/Pretendard-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/Pretendard-Medium.woff2') format('truetype');
}

@font-face {
  font-family: 'Pretendard-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/Pretendard-Bold.woff2') format('truetype');
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
}

input {
    font-family: 'Pretendard-Regular', sans-serif;
}

button {
    font-family: 'Pretendard-Regular', sans-serif;
}