.join-container {
	display: flex;
	flex-direction: column;
	background: #ffffff;
}

.join-scroll-area {
	height: 932px;
    width: 430px;
	display: flex;
	flex-direction: column;
	background: #fdf9f0;
	align-self: stretch;
}


.join-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 16px;
	margin-bottom: 30px;
}

.join-header-icon {
	width: 24px;
	height: 24px;
	object-fit: fill;
	cursor: pointer;
}

.join-header-title {
	color: #b1c29e;
	font-size: 24px;
	font-weight: bold;
}

.join-header-empty-box {
	width: 24px;
	height: 24px;
}


.join-input-block {
	display: flex;
	align-items: center;
	background: #ffffff;
	border-radius: 8px;
	padding: 9px 9px 9px 24px;
	margin: 10px 22px;
	align-self: stretch;
}

.join-auth-code-block {
	margin-bottom: 25px;
}

.join-input {
	color: #909090;
	font-size: 18px;
	flex: 1;
	background: none;
	border: none;
	padding: 9px 0;
}


.join-input-password {
	color: #909090;
	font-size: 18px;
	background: #ffffff;
	border-radius: 8px;
	border: none;
	padding: 19px 48px 19px 24px;
	margin: 0 22px 10px;
	align-self: stretch;
}

.join-input-password:last-of-type {
	margin-bottom: 25px;
}


.join-button-small {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #f5f7f2;
	border-radius: 22px;
	padding: 11px 22px;
	cursor: pointer;
}

.join-button-small.confirm {
	padding: 11px 36px;
}

.join-button-text {
	color: #b1c29e;
	font-size: 16px;
}


/* 약관 동의 */
.join-terms-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 8px;
  padding: 21px 0;
  margin: 0 22px 94px;
  align-self: stretch;
}

.join-terms-title {
  color: #909090;
  font-size: 18px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.terms-all {
  display: flex;
  align-items: center;
  background: #f5f7f2;
  border-radius: 8px;
  padding: 13px 14px;
  margin: 0 11px 19px;
  gap: 15px;
  align-self: stretch;
}

.terms-all-icon {
  width: 22px;
  height: 22px;
  object-fit: fill;
  cursor: pointer;
}

.terms-label-bold {
  font-size: 16px;
  font-weight: 400;
  color: #636363;
}

/* 약관 항목 */
.terms-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 28px 20px;
  align-self: stretch;
}

.terms-item:last-of-type {
  margin-bottom: 0;
}

.terms-check-icon {
  width: 15px;
  height: 10px;
  object-fit: fill;
  margin-right: 19px;
  cursor: pointer;
}

.terms-label-group {
  display: inline-flex;
  align-items: center;
  flex: 1;
}

.terms-label {
  color: #919191;
  font-size: 16px;
}

.terms-option-type {
  color: #B1C29E;
  font-size: 14px;
  margin-left: 4px;
  
}

.terms-view-link {
  color: #CFCFCF;
  font-size: 14px;
  cursor: pointer;
}


.terms-input {
	color: #626262;
	font-size: 16px;
	flex: 1;
	background: none;
	border: none;
	padding: 1px 0;
}


.join-submit-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fada7a;
	border-radius: 31px;
	border: none;
	padding: 19px 0;
	margin: 0 24px 58px;
	align-self: stretch;
	cursor: pointer;
}

.join-submit-text {
	color: #626262;
	font-size: 20px;
}
