.outer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login_page {
  display: flex;
  justify-content: center;
}

.login-container {
  background-color: #FFF9EA;
  padding: 40px 24px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login_wrap {
  padding: 20px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #8FBC8F;
  text-align: center;
  margin-bottom: 40px;
}

.login_btn {
  margin-top: 0.3em;
}

.divider {
  margin: 32px 0 16px;
  border: 0;
  border-top: 1px solid #ccc;
}

.login_label_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1.5em;
}

.simple-login-label {
  text-align: center;
  color: #919191;
}

.label_title {
  display: flex;
  align-items: center;
  flex: 1;
}

.simple_divider {
  border-right: 1px solid #cfcfcf;
  height: 20px;
}

.label_title::before, .label_title::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #cfcfcf;
}

.label_title::before {
  margin-right: 1em;
}

.label_title::after {
  margin-left: 1em;
}

.login_auth_wrap {
  margin: 25px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8em;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.social-btn-wrap {
  width: 55px;
}

.social-buttons img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}